  <form class="form-horizontal" id="searchTask" action="/audit_task" method="post">
        <fieldset>
          
         <input type="hidden" id="user_role" name="user_role" value="<%=user.roles%>">
         <input type="hidden" id="user_group_id" name="user_group_id" value="<%=user.group_id%>">
         <input type="hidden" id="user_id" name="user_id" value="<%=user._id%>">
         <input type="hidden" id="user_name" name="user_name" value="<%=user.name%>">
         <input type="hidden" id="selecte_user_role" name="selecte_user_role">
         
        
          <div class="form-group">
            <label for="fromDate" class="col-lg-2 control-label">From Date:</label>
            <div class="col-lg-3">
              <input type="text" class="form-control datepicker" id="auditTaskFromDate" placeholder="mm/dd/yyyy" name="fromDate" value="" autocomplete="off">
            </div>
          </div>
           <div class="form-group">
            <label for="toDate" class="col-lg-2 control-label">To Date:</label>
            <div class="col-lg-3">
              <input type="text" class="form-control datepicker" id="auditTaskToDate" placeholder="mm/dd/yyy" name="toDate" value="" autocomplete="off">
            </div>
          </div>
           <% if (typeof user !== 'undefined') {

                  if(user.roles=="Manager"){
               %>

                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">Group List</label>
                  <div class="col-lg-3">
                    <select id="sel_group" name="user_group" > 
                    <option selected disabled>Select Group</option>
                  </select>
                  </div>
               </div>

           <%  
              }
           }%>
       <!-- <% if (typeof user !== 'undefined') {
                  if(user.roles!="Analyst"){
               %>
        <div style='float:left ,display: in-line,width: 123px;'>
          <div class="form-group">
            <label for="sel_analyst" class="col-lg-2 control-label">Uploaded By :</label>
            <div class="col-lg-3">
              <select id="sel_analyst" name="selected_user_id" > 
              <option selected disabled>Select User</option>
            </select>
            </div>
          </div>
        </div>
        <% 
        }if(user.roles.indexOf("Lead")!=-1 || user.roles.indexOf("Manager")!=-1){ 
        %> <div class="form-group">
            <label for="sel_reviewer" class="col-lg-2 control-label">Reviewd By</label>
            <div class="col-lg-3">
              <select id="sel_reviewer" name="selected_viewer_id" > 
              <option selected disabled>Select User</option>
            </select>
            </div>
          </div>
          <%  }
           }%>
          <div class="form-group">
            <label for="toDate" class="col-lg-2 control-label">Pending Task:</label>
            <div class="col-lg-3">
              <input type="checkbox" id="pending_task" name="pending_task" value="PendingTask">
            </div>
          </div>-->
           <div class="form-group">
            <div class="col-lg-3 col-lg-offset-2">
              <button type="submit" class="btn btn-success">View Task</button>
            </div>
          </div>
         </fieldset>
      </form>

       <div class="bs-component">
        <table id="excelDataTable" class="table table-striped table-hover ">
      <thead>
        <tr>
            <th data-field="S_No">Sr.No</th>
            <th data-field="query">query</th>
            <th data-field="query_flag">Query Flag</th>
            <th data-field="ad_creative">Ad Creative</th>
            <th data-field="ad_creative_flag">Ad Creative Flag</th>
            <th data-field="ad_creative_rating">Ad Creative Rating</th>
            <th data-field="landing_page wrap">Landing Page</th>
            <th data-field="landing_page_flag">Landing Page Flag</th>
            <th data-field="landing_page_rating">Landing Page Rating</th>
            <th style="width:200px" data-field="user_comments">User Comments</th>
             <% if (typeof user !== 'undefined') {
            
                  if(user.roles!="Analyst"){
               %>
            <th data-field="is_correct">Is Correct</th>
            <th data-field="verifier_comments">Verifier Comments</th>

            <%  

           }
           }%>
            <th style="display:none;" data-field="_id">_id</th>
            <th style="display:none;" data-field="verifier_id">verifier_id</th>
            <th style="width:200px">&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody id="audit_tasks">
    
    </tbody>
  </table>
</div>

<div class="pagination">

</div>

<% if (typeof user !== 'undefined') {
                  if(user.roles!="Analyst"){
               %>
 <div class="col-lg-10">
   <button type="button" id="save_btn" class="btn btn-success">Save Data</button>
</div>
 <%  
  }
   }%>
