  <form class="form-horizontal" id="viewOnlyTask">
        <fieldset>
          
         <input type="hidden" id="user_role" name="user_role" value="<%=user.roles%>">
         <input type="hidden" id="user_group_id" name="user_group_id" value="<%= user.group_id%>">
         <input type="hidden" id="user_id" name="user_id" value="<%= user._id%>">
         <input type="hidden" id="user_name" name="user_name" value="<%=user.name%>">
         <input type="hidden" id="selecte_user_role" name="selecte_user_role">
         <input type="hidden" id="viewTaskPage" name="viewTaskPage" value="">
         
        
          <div class="form-group">
            <label for="fromDate" class="col-lg-2 control-label">From Date:</label>
            <div class="col-lg-3">
              <input type="text" class="form-control datepicker" id="viewTaskFromDate" placeholder="mm/dd/yyyy" name="fromDate" value="" autocomplete="off">
            </div>
          </div>
           <div class="form-group">
            <label for="toDate" class="col-lg-2 control-label">To Date:</label>
            <div class="col-lg-3">
              <input type="text" class="form-control datepicker" id="viewTaskToDate" placeholder="mm/dd/yyyy" name="toDate" value="" autocomplete="off">
            </div>
          </div>
          
        
           <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" id="viewTaskSubmit" class="btn btn-success">View Task</button>
            </div>
          </div>
        
         </fieldset>
      </form>
 
       <div class="bs-component">
        <table id="excelDataTable" class="table table-striped table-hover ">
      <thead>
        <tr>
            <th data-field="S_No">Sr.No</th>
            <th data-field="query">query</th>
            <th data-field="query_flag">Query Flag</th>
            <th data-field="ad_creative">Ad Creative</th>
            <th data-field="ad_creative_flag">Ad Creative Flag</th>
            <th data-field="ad_creative_rating">Ad Creative Rating</th>
            <th data-field="landing_page">Landing Page</th>
            <th data-field="landing_page_flag">Landing Page Flag</th>
            <th data-field="landing_page_rating">Landing Page Rating</th>
            <th style="width:200px" data-field="user_comments">User Comments</th>
          
            <th data-field="is_correct">Is Correct</th>
            <th data-field="verifier_comments">Verifier Comments</th>
            <th style="display:none;" data-field="_id">_id</th>
            <th style="display:none;" data-field="verifier_id">verifier_id</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="view_tasks">
    
    </tbody>
  </table>







</div>