<!doctype html>
<html lang="en">
<head>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico">-->
  
    <title><%- title %></title>

    <!-- Bootstrap core CSS -->
    
    <!-- Bootstrap theme -->
    <link href="../../css/slimplex.css" rel="stylesheet">
    <link src="../../css/datepicker.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/jquery-ui.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <% if (typeof user !== 'undefined') { %>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="/" class="navbar-brand">Task Engine</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <% if ((_und.contains(user.roles, 'Manager'))) { %>
                <li class="dropdown">
                  <a href="/users">Users</span></a>
                </li>
                <% } %>
                <li>
                  <a href="/view_task">Tasks</a>
                </li>
                <% if ((_und.contains(user.roles, 'Manager'))) { %>
                  <li>
                  <a href="/groups">Groups</a>
                </li>
                <% } %>
                <% if ((_und.contains(user.roles, 'Moderator')) || (_und.contains(user.roles, 'Analyst'))) { %>
                  <li>
                    <a href="/upload">Upload Tasks</a>
                  </li>
                <% } %>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile" > Hi <%= user.name %></a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      <% } %>
      <div class="row">
         <div class="col-lg-5 col-sm-offset-3">
           <div class="alert alert-dismissible alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <strong id="task-upload-count"></strong> tasks has been uploaded successfully. To view your task <a href="/view_task" class="alert-link">Click Here</a>
           </div>
         </div>
       </div>
       <div class="overlay">
         <img src="img/ajax-loader.gif" alt="Smiley face" height="42" width="42" class="spinner">
       </div>
       
      <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <%-body%>
    </div>
  </body>
  <script src="../../components/jquery/dist/jquery.min.js"></script>
  <script src="../../components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../components/underscore/underscore-min.js"></script>
  
  <script src="../../js/bootstrap-datepicker.js"></script>
  <script src="../../js/jquery-ui.js"></script>
   <script src="../../js/custom.js"></script>
</html>